<script src="javascripts/chatRoom.js"></script>
<div id="ChatRoom" class="panel panel-default allTransparent" style="margin-left:5%">
  <div id="event-table" class="panel-body">
    <div id="scrollable" style="overflow: scroll; margin: 0px 0px 10px 5px; max-height:500px">
      <div id="chat-wrapper" class="col-sm-12 col-md-12 col-lg-12">
        <div id="chatresponse" class="ui comments"></div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-12 ">
      <input type="text" class="form-control" id="chat_message" placeholder="Press to Send" onkeydown="pressToSend(event)">
  </div>
</div>