<script src="javascripts/chatRoom.js"></script>
<script>
appendChat("zha:dsada");
</script>
<div id="ChatRoom" class="panel panel-default allTransparent">
  <div class="panel-heading">
    <h3 class="ui header">
      Chat
    </h3>
  </div>
  <div id="event-table" class="panel-body">
    <div id="scrollable" style="overflow: scroll; margin: 0px 0px 10px 5px">
      <div id="chat-wrapper" class="col-sm-12 col-md-12 col-lg-12">
        <div id="chatresponse" class="ui comments"></div>
      </div>
    </div>
    <div class=" col-sm-8 col-md-8 " style="padding:0px 0px">
      <input type="text" class="form-control" id="chat_message" placeholder="Chat with your friend!" onkeydown="pressToSend(event)">
    </div>
    <div class=" col-sm-4 col-md-4 " style="padding:0px 0px">
      <button class="btn btn-primary" style="width:100%" onclick="sendMessage()">Send</button>
    </div>
  </div>
</div>