		</div>
       </div> <!-- /container -->
    <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Luoma Zhang, Yona Ran, Lao ban @ Columbia University</p>
      </footer>
  </body>
</html>