      <p>Debug information: now you are at room <%=roomNumber %></p>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Luoma Zhang, Yona Ran, Lao ban @ Columbia University</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>