<%include header.ejs%>
<%include navigator.ejs%>

    <div class="container">
        <div>
          <h1 style="font-family:calibri;text-align: center"><p style="text-align: center;margin-top:8%;margin-bottom:2%"><strong>Chose a Room</strong></p></h1>
        </div>


        <form action="joinRoomRequest" id="roomInfo" method="POST"> 
        <input id="requestType" name="requestType" type="hidden">
        <div class="row">    
          <a style="color:red"><%=alert%></a>
          <div class="col-lg-4 col-lg-offset-4">
            <!--<label for="inputEmail" class="sr-only">Email address</label>-->
            <input style="margin-bottom:2%" id="roomNumber" class="form-control" placeholder="Room number" name="roomNumber" type="roomNumber" <%if(roomNumber!=null){%>value="<%=roomNumber%>"<%}%> required autofocus> 
          </div>
          <div class="col-lg-4 col-lg-offset-4">
            <!--<label for="inputEmail" class="sr-only">Email address</label>-->
            <input style="margin-bottom:2%" id="roomPassword" class="form-control" placeholder="Password" name="roomPassword" type="roomPassword" <%if(roomPassword!=null){%>value="<%=roomPassword%>"<%}%> required autofocus> 
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-4">      
          <button class="btn btn-lg btn-primary btn-block" onclick="CreateRoom()">Create</button>
        </div>
        <div class="col-lg-4 col-lg-offset-4">      
          <button class="btn btn-lg btn-primary btn-block" onclick="JoinRoom()">Join</button>
        </div>
      </form>



    </div>
    <script>
      function  CreateRoom(){
        document.getElementById("requestType").value="create";
        document.getElementById("roomInfo").submit();
      }
      function  JoinRoom(){
        document.getElementById("requestType").value="join";
        document.getElementById("roomInfo").submit();
      }
    </script>
<%include end.ejs%> 